# Ignore node_modules
node_modules/


# Ignore logs
*.log

# Ignore environment files
.env

# Ignore operating system files
.DS_Store
Thumbs.db

# Temporary files
*.tmp

# Directories to ignore



src/routes

src/utils
